﻿@model GraduateProject.Models.DetailWorker

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetailWorker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Graduate.GraduateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Graduate.GraduateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTittle.JobTittleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTittle.JobTittleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DetailWorkerId }, new { @class = "btn btn-success" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</p>
