﻿@model PagedList.IPagedList<GraduateProject.Models.DetailWorker>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Workers";
}

<h2>Workers</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Company.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Graduate.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().JobTittle.JobTittleName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Graduate.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTittle.JobTittleName)
        </td>
@if (User.IsInRole("Admin"))
{
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.DetailWorkerId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Details", "Details", new { id = item.DetailWorkerId }, new { @class = "btn btn-info" })
        @Html.ActionLink("Delete", "Delete", new { id = item.DetailWorkerId }, new { @class = "btn btn-danger" })
    </td>
}
     
    </tr>
}

</table>
Page: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
