﻿@model PagedList.IPagedList<GraduateProject.Models.Opinion>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Opinions";
}

<h2>Opinions</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Graduate.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().OpinionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Graduate.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpinionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Opiniond}, new { @class = "btn btn-warning" })
            @Html.ActionLink("Details", "Details", new { id=item.Opiniond }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id=item.Opiniond }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
Page: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))