﻿@model PagedList.IPagedList<GraduateProject.Models.DetailGraduate>
@using PagedList.Mvc;
@{
    ViewBag.Title = "DetailGraduate";
}

<h2>DetailGraduate</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EducationalStage.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Graduate.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Program.NameProgram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().University.UniversityName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EducationalStage.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Graduate.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program.NameProgram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.University.UniversityName)
        </td>
@if (User.IsInRole("Admin"))
{
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.DetailGraduateId }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Details", "Details", new { id = item.DetailGraduateId }, new { @class = "btn btn-info" })
        @Html.ActionLink("Delete", "Delete", new { id = item.DetailGraduateId }, new { @class = "btn btn-danger" })
    </td>
}
    
    </tr>
}

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
