﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Funlam Graduate</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Home Graduate", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>




                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Places<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                                <li>@Html.ActionLink("Cities", "Index", "Cities")</li>
                            </ul>
                        </li>
                    }


                    @if (User.IsInRole("Admin") || User.IsInRole("Graduate"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Education<b class="caret"></b></a>
                            <ul class="dropdown-menu">

                                <li>@Html.ActionLink("Graduates", "Index", "Graduates")</li>
                                <li>@Html.ActionLink("Universities", "Index", "Universities")</li>
                                <li>@Html.ActionLink("Educational Stages", "Index", "EducationalStages")</li>
                                <li>@Html.ActionLink("Programs", "Index", "Programs")</li>
                                <li>@Html.ActionLink("DetailGraduates", "Index", "DetailGraduates")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Functioning<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Companies", "Index", "Companies")</li>
                                <li>@Html.ActionLink("Job tittles", "Index", "JobTittles")</li>
                                <li>@Html.ActionLink("Workers", "Index", "DetailWorkers")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Others<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Events", "Index", "Events")</li>
                                <li>@Html.ActionLink("Offer", "Index", "LaborSupplies")</li>
                                <li>@Html.ActionLink("Opinions", "Index", "Opinions")</li>

                            </ul>
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Graduates Funlam</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
