﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h2>Funlam Graduates</h2>

<div class="row">
    <div class="col-md-4">
        <h2>MISION</h2>
        <p>
            El PROGRAMA DE GRADUADOS AMIGONIANOS de la FUNLAM, quiere fortalecer y acompañar al Graduado de la universidad en su proceso 
            formativo como ser humano, ser profesional y ser social, bajo los Principios Institucionales de Desarrollo Transcendente, 
            Humanismo Cristiano, Autonomía, Comunidad Educativa, interdisciplinariedad, Proyecto Social, con el fin de dar continuidad a 
            su saber en la comunidad con actitud de servicio.
        </p>   
        <h2>ACTIVIDADES</h2>
        <p>Visita a los estudiantes del último semestre de las diferentes Facultades y Programas. Objetivo: Tener un acercamiento con los 
        futuros graduados de la FUNLAM, para darles a conocer el Programa de Graduado Amigoniano, presentarles las Asociaciones y corporaciones
         de Graduados actualmente constituidas e invitarlos a los diferentes eventos.</p>
        <p>Fiesta del Graduado: Es un espacio de encuentro anual con nuestros Graduados donde se realizan actividades sociales, culturales y
         recreativas, en la cual se hace el reconocimiento al Egresado Destacado y Egresado Emprendedor de cada programa.</p>
    </div>


    <div class="col-md-3">
        <h2>VISION</h2>
        <p>En el 2010 el PROGRAMA DE GRADUADOS AMIGONIANOS de la FUNLAM será reconocido por la labor profesional de los Graduados de 
        la universidad en los diferentes ambientes laborales y sociales. </p>
        <br />
        <br />
      <h2>DESCUENTOS</h2>
        <br />
        <Center>
            <img src="~/Content/Images/descuentos.png" alt="Image" style="width:200px;height:200px;max-width: 450%; height: auto;" />
        </Center>
    </div>


    <div class="col-md-5">
        <h2>OBJETIVO GENERAL</h2>
        <p>Reestructurar el Programa de Graduados, para dar cumplimiento a las políticas Institucionales.</p>
        <h2>OBJETIVOS ESPECÍFICOS</h2>
        <p> Promover, estimular y orientar relaciones directas y permanentes entre la Fundación Universitaria Luis Amigó y sus egresados</p>

        <p>Mantener actualizada la base de datos de los egresados.</p>

        <p>Crear canales eficaces de comunicación entre la institución y sus egresados.</p>

        <p>Motivar el sentido de pertenencia institucional y propiciar encuentros, prestación de servicios y programación de actividades especiales.</p>

        <p>Atender y orientar a los egresados que visiten la Institución en procura de información o de servicios.</p>
        
        <p>Fortalecer y acompañar las Asociaciones y/o Corporaciones de Graduados sirviendo de vínculo con la Institución, posibilitando el desarrollo de la autonomía.</p>

        <p>Estar en interface con el Centro de Servicios a la Comunidad, para dar a conocer a los egresados el portafolio de servicios en lo referente a la educación permanente.</p>
    </div>

</div>