﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dirección: Tv. 51a #6790,<br />
    Medellín, Antioquia, Colombia<br />
    <abbr title="Phone">P:</abbr>
    +57 4 4487666
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ingenieriagraduateproject@gmail.com</a><br />
</address>



<center>
    <h1><strong>
    TEAM PROJECT
</strong>
</h1>
</center>


<div class="row">
    <div class="col-md-3">
        <h2>Julián Oquendo G.</h2>
        <p>      
                Estudiante 7mo semestre de ingenieria de sistemas, desarrollador de software.
        </p>
        <center>
            <p>
                <img src="~/Content/Team/julian.jpg" alt="Image" style="width:150px;height:100px;max-width: 250%; height: auto;" />
            </p>
        </center>
    </div>
    <div class="col-md-2">
        <h2>Alejandro Gutierrez</h2>
        <p> Estudiante 8vo semestre de ingenieria de sistemas, documentación, ingeniería del software, diseño grafico.</p>
        <p>
            <center>
                <img src="~/Content/Team/alejandro.jpg" alt="Image" style="width:150px;height:150px;max-width: 250%; height: auto;" />
            </center>
        </p>
    </div>
    <div class="col-md-2">
        <h2>Santigo Acosta</h2>
        <p>Estudiante 7mo semestre de ingenieria de sistemas, documentación, ingeniería del software.</p>
        <center>
            <img src="~/Content/Team/santiago.jpg" alt="Image" style="width:150px;height:150px;max-width: 250%; height: auto;" />
        </center>   
    </div>


    <div class="col-md-2">
        <h2>Juan José Ocampo</h2>
        <center>
            <p>Estudiante 7mo semestre de ingenieria de sistemas, documentación, ingeniería del software.</p>
            <img src="~/Content/Team/juanjose.jpg" alt="Image" style="width:150px;height:150px;max-width: 250%; height: auto;" />
        </center>
    </div>

    <div class="col-md-3">
        <h2>Santiago Vasquez</h2>
        <p> Estudiante 7mo semestre de ingenieria de sistemas, desarrollador de software.</p>
        <center>
            <img src="~/Content/Team/tiago.jpg" alt="Image" style="width:150px;height:150px;max-width: 250%; height: auto;" />
        </center>
    </div>
</div>