﻿@model GraduateProject.Models.Graduate

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <center>
        <h1>Funlam Graduates</h1>
        <p class="lead">Welcome to our web site, here you can find all about the Funlam's graduates!</p>
    </center>

    @if (User.IsInRole("Graduate"))
    {
        <div class="row">
            <div class="col-md-4">
                <h2>Profile picture</h2>
                @if (Model != null && !string.IsNullOrEmpty(Model.Photo))
                {
                    <img src="@Url.Content(Model.Photo)" alt="Image" style="width:250px;height:150px;max-width: 250%; height: auto;" />
                }
            </div>

            <div class="col-md-4">
                <h2>About</h2>
                <small>
                    @if (Model != null && !string.IsNullOrEmpty(Model.FullName))
                    {
                        @Html.DisplayFor(modelItem => Model.FullName)
                    }
                    <br />

                    @Html.DisplayFor(modelItem => Model.Phone)
                    <br />
                    @Html.DisplayFor(modelItem => Model.Adress)
                    <br />
                    @if (Model != null && !string.IsNullOrEmpty(Model.City.Name))
                    {
                        @Html.DisplayFor(modelItem => Model.City.Name)
                    }
                </small>
            </div>

            <div class="col-md-4">
                <center>
                    <h2>Settings</h2>
                    <img src="~/Content/Images/settings.png" align="right" alt="Image" style="width:350px;height:150px;max-width: 350%; height: auto;" /><br />
                    @Html.ActionLink("Settings", "Edit", "Graduates", new { id = Model.GraduateId }, new { @class = "btn btn-warning" })
                </center>
            </div>
        </div>
    }
    <br />
    <p><a href="http://www.funlam.edu.co/" class="btn btn-primary btn-lg">View funlam &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>INTRODUCCIÓN</h2>
        <p>
            Para la Fundación Universitaria Luis Amigó el graduado sigue siendo parte fundamental de la Comunidad Amigoniana, ya que en él reposa "la imagen,
             la identidad y la prospectiva del Alma Mater" y es el vínculo entre la Institución y la sociedad.
        </p>
        <p>El Graduado de una institución educativa no es el que termina un proceso formativo y académico, sino por el contrario el que inicia y lleva 
        consigo todo su Ser, Saber y Hacer a todas partes con el apellido de una universidad que lo identifica entre otras.</p>
    </div>

    <div class="col-md-6">
        <h2>POBLACIÓN DIRECTA</h2>
        <p>Graduado de las diferentes Facultades y Programas de la Fundación Universitaria Luis Amigó.</p>
        <p>Base de datos recientes de los Graduados de los últimos semestres.</p>
       
        <h2>POBLACIÓN INDIRECTA</h2>

        <p>Egresados por ubicar y actualizar datos.</p>
    </div>
</div>




