﻿@model PagedList.IPagedList<GraduateProject.Models.Graduate>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Graduates";
}

<h2>Graduates</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-primary" })
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().City.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Department.Name)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.GraduateName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Photo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.GraduateName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @if (!string.IsNullOrEmpty(item.Photo))
            {
                <img src="@Url.Content(item.Photo)" alt="Image" style="width:100px;height:150px;max-width: 100%; height: auto;" />
            }

        </td>
        @if (User.IsInRole("Admin"))
        { 
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.GraduateId }, new { @class = "btn btn-warning" })
            @Html.ActionLink("Details", "Details", new { id=item.GraduateId }, new { @class = "btn btn-info" })
            @Html.ActionLink("Delete", "Delete", new { id=item.GraduateId }, new { @class = "btn btn-danger" })
        </td>
        }
    </tr>
}

</table>
Page: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
